html {
  /* color-scheme: light dark; */
  font-family: system-ui;
  height: 100%;
}
.chart-container {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.chart-title {
  text-align: center;
  margin-bottom: 20px;
}

.chart {
  width: 100%;
  height: 100%;
  position: relative;
}

.line {
  fill: none;
  stroke: #4285F4;
  stroke-width: 2px;
}

.point {
  fill: #4285F4;
  stroke: #fff;
  stroke-width: 1px;
}

.x-axis,
.y-axis {
  font-size: 12px;
  color: #666;
  user-select: none;
}

.tooltip {
  position: absolute;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  pointer-events: none;
  font-size: 12px;
  display: none;
}

.context-menu {
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 130px;
  font-size: 14px;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu ul li {
  padding: 8px 16px;
  cursor: pointer;
  /* font-size: 14px; */
}

.context-menu ul li:hover {
  background-color: #f0f0f0;
}

.context-menu ul li.separator {
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 4px 0;
}

.grid-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.canvas-block-container {
  position: absolute;
}

.canvas-block {
  position: absolute;
  /* border: 1px solid #eee; */

  /* image-rendering: -moz-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: pixelated;
            image-rendering: optimize-contrast; */

  /* box-sizing: border-box; */
}

.row-number-container {
  position: sticky;
  top: 0;
  left: 0;
  background: #e6e6e6;
  z-index: 100;
  font-size: 12px;
  flex-shrink: 0;
  /* margin-top:0.5px; */
}

.row-number {
  text-align: center;
  /* box-sizing: border-box; */
  flex-shrink: 0;
  user-select: none;
  width: 100%;
  border-right: 1px solid rgb(153, 153, 153, 0.5);
}
.row-selected {
  background-color: #d2d2d2;
  border-right: 1px solid #1a73e8;
  color: #074392;
}
.row-selected > div {
  /* width: calc(100% + 1px); */
}

.row-handle {
  cursor: ns-resize;
  position: absolute;
  /* box-sizing: border-box; */
  height: 10px;
  z-index: 1;
  width: 100%;
}

.row-handle::after {
  content: "";
  height: 1px;
  background-color: rgb(153, 153, 153, 0.5);
  width: 100%;
  display: inline-block;
  /* box-sizing: border-box; */
  position: absolute;
  top: 5px;
}

.row-handle:hover::after {
  background-color: rgb(153, 153, 153, 0.8);
}

.header-handle {
  cursor: ew-resize;
  position: absolute;
  width: 16px;
  display: inline-block;
  z-index: 1;
}

.header-handle:hover::after {
  background-color: rgb(153, 153, 153, 0.8);
}

.header-handle::after {
  content: "";
  height: 100%;
  background-color: rgb(153, 153, 153, 0.5);
  width: 1px;
  display: inline-block;
  position: absolute;
  left: 8px;
  display: inline-block;
}

.handle-row-selected::after {
  border-right: 1px solid #1a73e8;
  display: inline-block;
}

.header-container {
  position: sticky;
  top: 0;
  /* left: 0; */
  white-space: nowrap;
  background: #e6e6e6;
  z-index: 100;
  display: flex;
  font-size: 12px;
  flex-shrink: 0;
  /* border-bottom: 1px solid #999999; */
  /* box-sizing: border-box; */
}

.header-cell {
  text-align: center;
  user-select: none;
  display: inline-block;
  /* box-sizing: border-box; */
  border-bottom: 1px solid rgb(153, 153, 153, 0.5);
}

.header-cell.col-selected {
  background-color: #d2d2d2;
  border-bottom: 1px solid #1a73e8;
  color: #074392;
}

.handle-col-selected::after {
  border-bottom: 1px solid #1a73e8;
}

.header-cell:hover, .row-number:hover {
  background-color: #1a73e81a;
}
/* 
.corner-cell {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 150;
  background: #f0f0f0;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  flex-shrink: 0;
} */

.corner-cell {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 205;
  background-color: #e6e6e6;
  flex-shrink: 0;
  /* border-right: 1px solid rgb(153, 153, 153, 0.5); */
  /* border-bottom: 1px solid rgb(153, 153, 153, 0.5); */
  /* box-sizing: border-box; */
}

.corner-cell::after {
  content: "";
  height: 1px;
  background-color: rgb(190, 190, 190);
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: -1px;
  z-index: 350;
}
.corner-cell::before {
  content: "";
  height: 100%;
  background-color: rgb(190, 190, 190);
  width: 1px;
  display: inline-block;
  position: absolute;
  right: -1px;
  z-index: 350;
}

.selection-layer {
  position: absolute;
  pointer-events: none;
  z-index: 90;
}

.selected-cell {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #1a73e8;
  background-color: rgba(26, 115, 232, 0.1);
  z-index: 210;
}

.selection-handle {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #1a73e8;
  z-index: 220;
  pointer-events: auto;
}

.selection-handle.bottom-right {
  right: -3px;
  bottom: -3px;
  cursor: nwse-resize;
}

.grid-placeholder {
  /* animation: placeholderAnimation 1.5s linear infinite; */
}

@keyframes placeholderAnimation {
  /* 0% { background-position: 0 0; }
            100% { backgroundPosition: 40px 40px; } */
}

.placeholder-layer {
  position: absolute;
  top: 30px;
  left: 42px;
  pointer-events: none;
  z-index: 50;
}

.cell-edit-input {
  position: absolute;
  border: 2px solid #1a73e8;
  padding: 0 4px;
  font: 12px Arial;
  box-sizing: border-box;
  z-index: 300;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.grid-wrapper {
  width: 100%;
  /* height: 100vh; */
  height: 100%;
}

.gigasheet-bottombar {
  position: relative;
  border-top: 1px solid #e0e2e4;
  box-sizing: border-box;
  font-size: 12px;
  flex-shrink: 0;

}
.gigasheet-menu > li {
  line-height: 39px;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  border-right: 1px solid #e8eaed;
  box-sizing: border-box;
}

.gigasheet-bottombar {
  height: 40px;
  padding: 0 30px;
  text-align: left;
  background: #f5f6f7;
  display: flex;
}

.gigasheet-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
  flex-shrink: 0;
}

.gigasheet-menu>li {
  float: left;
  line-height: 1.25em;
  padding: .785em 1em;
  /* padding: 0; */
  margin: 0;
  vertical-align: middle;
  text-align: left;
  font-weight: 400;
  color: #80868b;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  font-weight: bold;
}

.gigasheet-menu>li.active {
  background-color: #fff;
  color: rgba(0, 0, 0, .65);
}
  
.gigasheet-dropdown {
  display: inline-block;
}

.gigasheet-dropdown {
  display: inline-block;
}

.gigasheet-icon {
  margin: 0 6px;

}
.gigasheet-icon-img:hover {
  opacity: .85;
}

/* &.active {
  background-color: #fff;
  color: rgba(0, 0, 0, .65);
} */

.gigasheet-contextmenu {
  position: absolute;
  box-shadow: 1px 2px 5px 2px rgba(51, 51, 51, 0.15);
  background: #fff;
  z-index: 100;
  width: 260px;
  pointer-events: auto;
  overflow: auto;
  font-size: 13px;
}
.label {
  float: right;
  opacity: .65;
  font-size: 1em;
}
.gigasheet-item {
  user-select: none;
  background: 0;
  border: 1px solid transparent;
  outline: none;
  height: 26px;
  color: rgba(0, 0, 0, .9);
  line-height: 26px;
  list-style: none;
  padding: 2px 10px;
  cursor: default;
  text-align: left;
  overflow: hidden;  
}
.gigasheet-item.active {
  background: #89aef53d;
}
.gigasheet-item.divider {
    height: 0;
    padding: 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.gigasheet-item.gigasheet-bottombar.label {
  float: right;
  opacity: .65;
  font-size: 1em;
}
.gigasheet-item:hover,
.gigasheet-item.active {
    background: rgba(0, 0, 0, .05);
  }
.gigasheet-item.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.gigasheet-icon {
  width: 18px;
  height: 18px;
  margin: 1px 1px 2px 1px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  overflow: hidden;
  position: relative;
  display: inline-block;
  line-height: 0;
}

.gigasheet-icon .gigasheet-icon-img {
  background-image: url('./sheet/images/icons.svg');
  position: absolute;
  width: 262px;
  height: 444px;
  opacity: 0.56;
}

.gigasheet-icon .gigasheet-icon-img.add {
    left: -234px;
    top: -18px;
}
.gigasheet-icon .gigasheet-icon-img.ellipsis {
    left: -216px;
    top: -18px;
}

.gigasheet-formulabar {
  display: flex;
  flex-direction:row;
  align-items: center;
  flex-shrink: 0;
  background-color: #e6e6e6;
  padding: 7px 8px;
  font-family: sans-serif;
  /* font-family: Aptos Narrow, Calibri, "sans-serif", Mongolian Baiti, Microsoft Yi Baiti, Javanese Text, Yu Gothic; */
}
.gigasheet-name-box {
  /* background-color: #fff; */
  font-family: inherit;
  border-radius: 4px;
}
.gigasheet-okcancelcontainer > button {
  background-color: inherit;
  height: 100%;
}
.gigasheet-okcancelcontainer {
  background-color: #fff;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid rgb(153, 153, 153, 0.5);
  border-radius: 4px;
  overflow: hidden;
}
.gigasheet-formulabar > div {
  margin: 0 10px;
}
.gigasheet-formulabar button {
  width: 35px;
  /* height: 24px; */
  box-sizing: border-box;
  line-height: 100%;
  border: 0;
  padding: 0;
}
.gigasheet-formulabar > input {
  height: 24px;
  box-sizing: border-box;
  border: 1px solid rgb(153, 153, 153, 0.5);
}
.gigasheet-formulabar textarea {
  flex: 1;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid rgb(153, 153, 153, 0.5);
  font-family: inherit;
  outline: none;
  border-radius: 4px;
  font-size: 11px;
  padding-top: 6px;
}
.gigasheet-formulabar textarea:focus {
  border: 2px solid #000;
}
.gigasheet-toolbar-buttons {
  display: inline-flex;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
    margin: 5px 0;
  padding: 4px;
  box-sizing: border-box;
  overflow: auto;
}

.gigasheet-toolbar {
  padding: 0 8px;
  text-align: left;
  background: #f5f6f7;
  display: flex;
}

.IconColors_m20 {
  fill: #FAFAFAFF;
}
.IconColors_m22 {
  fill: #3A3A38FF;
}
.IconColors_m23 {
  fill: #797774FF;
}
.IconColors_m24 {
  fill: #1E8BCDFF;
}
.IconColors_m212 {
  fill: #F8DB8FFF;
}
.IconColors_HighContrast {
  fill: transparent;
}
.gigasheet-toolbar-btn {
  flex-shrink: 0;
    /* width: 35px; */
    /* height: 24px; */
    height: 100%;
    box-sizing: border-box;
    background-color: inherit;
    line-height: 100%;
    border: 0;
    padding: 5px;
}
.gigasheet-toolbar-btn.active-btn {
  background-color: rgba(0, 0, 0, 0.1);
}
.gigasheet-toolbar-btn:hover {
  background-color: #f5f5f5;
  color: #242424;
  cursor: pointer;
}
.gigasheet-tooltip {
  font-family: inherit;
  position: fixed;
  padding: 5px 10px;
  /* color: #fff; */
  border-radius: 1px;
  border: 1px solid rgb(153, 153, 153, 0.5);
  /* background: rgba(0, 0, 0, 1); */
  background-color: #fff;
  font-size: 12px;
  z-index: 201;
}
.gigasheet-tooltip::before {
  pointer-events: none;
  position: absolute;
  left: calc(50% - 4px);
  top: -5px;
  content: "";
  width: 8px;
  height: 8px;
  background: inherit;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
  /* box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, .3); */
  border-left: 1px solid rgb(153, 153, 153, 0.5);
  border-top: 1px solid rgb(153, 153, 153, 0.5);
}

.goghgrid-toolbar-divider {
  display: inline-block;
  border-right: 1px solid #e0e2e4;
  width: 0;
  vertical-align: middle;
  height: 18px;
  margin: 12px 3px 0;
}
.gigasheet-select {
  background: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
}